<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auth/auth.css">
</head>
<body class="joinnus-body">
    <main>
        <div class="row justify-content-center" style="min-height: calc(100vh);">
            <div class="col-lg-6">                
                <div class="w-100 p-4">
                    <a href="/tienda">
                        <img src="https://cdn.joinnus.com/files/joinnus-com-logo.svg" alt="" srcset="" width="200">
                    </a>

                    <div class="my-4"><a href="/ingresar" class="mb-4"><b>Volver a Iniciar Sesión</b></a></div>

                    <div class="h2 mb-3"><b>Bienvenido a Joinnus</b></div>

                    <% if (mensajeError) { %>
                        <div class="user-message user-message-error w-100 my-3"><%= mensajeError %></div>
                    <% } %>

                    <form class="auth-form" action="/registrarse"  method="POST">

                        <div class="form-row">
                            <div class="col-6">
                                <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                            </div>
    
                            <div class="col-6">
                                <input type="text" name="apellido" id="apellido" placeholder="Apellido">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-12">
                                <input type="text" name="correo" id="correo" placeholder="Correo electrónico">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-12">
                                <input type="text" name="correoConfirmado" id="correoConfirmado" placeholder="Repetir correo electrónico">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-12">
                                <input type="password" name="password" id="password" placeholder="Contraseña">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-12">
                                <input type="password" name="passwordConfirmado" id="passwordConfirmado" placeholder="Repetir contraseña">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-6">
                                <select name="genero" id="genero">
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                </select>
                            </div>
    
                            <div class="col-6">
                                <%- include('../includes/opcionesCiudades.ejs') %>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-auth" type="submit">Registrarse</button>
                    </form>
                </div>                
            </div>
            <div class="col-lg-6 auth-image"></div>
        </div>
    </main>
</body>
</html>
