<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auth/auth.css">
</head>
<body class="joinnus-body">
    <main>
        <div class="row justify-content-center" style="min-height: calc(100vh);">
            <div class="col-lg-6">                
                <div class="w-100 p-4">
                    <a href="/tienda">
                        <img src="https://cdn.joinnus.com/files/joinnus-com-logo.svg" alt="" srcset="" width="200">
                    </a>

                    <div class="my-4"><a href="/ingresar" class="mb-4"><b>Volver al login</b></a></div>

                    <div class="h2 mb-3"><b>Ingresa tu correo aquí</b></div>

                    <% if (mensajeError) { %>
                        <div class="user-message user-message-error w-100 my-3"><%= mensajeError %></div>
                    <% } %>

                    <form class="auth-form" action="/reinicio"  method="POST">
                        <div class="form-row">
                            <div class="col-12">
                                <div>Ingresa tu correo y te enviaremos instrucciones para reiniciar tu contraseña.</div>
                                <input type="text" name="correo" id="correo" placeholder="Correo electrónico">
                            </div>
                        </div>

                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-auth" type="submit">Enviar instrucciones</button>
                    </form>
                </div>                
            </div>
            <div class="col-lg-6 auth-image"></div>
        </div>
    </main>
</body>
</html>
