<header class="header-store">
    <div class="logo-joinnus">
        <%- include('../svgs/logoJoinnus.ejs') %>
    </div>

    <div class="options-account">
        <a href="ingresar" class="header-store-btn login-btn" type="button">Iniciar sesión</a>
        <a href="registrarse" class="header-store-btn register-btn" type="button">Registrarse</a>
    </div>
</header>