.options-account {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;

    h5 {
        color: #FFF;
        font-size: 12px;
    }
    
    .img-profile {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.header-generic {
    display: flex;
    background-color: #031425;
    height: 72px;
    align-items: center;
    padding: 0 20px;
}

.main-generic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px ;
}

.generic-msg {
    color: #00B38E;
    font-size: 24px;
    font-weight: 900;
    margin: 0;
}

.generic-redirect {
    border-radius: 32px;
    background: #00E0B1;
    color: #031425;
    text-align: center;
    font-weight: 600;
    padding: 10px 15px;
    font-size: 16px;
}