<%- include('../../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/store/compras.css">
    <link rel="stylesheet" href="/css/store/home.css">
    <link rel="stylesheet" href="/css/store/general.css">
</head>
<body class="compra-body">
    <%- include('../../includes/headerStore.ejs') %>

    <main class="detalle-compra-wrapper">
        <div class="header-btns bg-jnns-white mb-80">
            <%- include('./headerButtons', {idEvento: evento._id, idCompra: compra._id}) %>
        </div>

        <div class="container">

            <div class="header-entrada">
                <div class="title"> Entradas para el evento </div>
                <button class="btn-accept">Descargar</button>
            </div>

            <div class="entradas-wrapper">
                <% for (let entrada of compra.entradas) { %>
                    <%- include('./entrada', {entrada: entrada}, {evento: evento}) %>
                <% } %>
            </div>
        </div>        
    </main>
</body>
</html>