<a href="/tienda" class="btn-single bg-jnns-seconday-600">
    Ver más eventos
</a> 
<a href="/tienda/detalle-evento/<%= idEvento %>" class="btn-single bg-jnns-seconday-600">
    Ir al evento
</a> 
<a href="/tienda/entradas/<%= idCompra %>" class="btn-single bg-jnns-seconday-600">
    Ver entradas
</a>