<div class="ticket">
    <div class="resumen-entrada-wrapper">
        <div class="name text-left"> <%= entrada.tipoEntrada.nombre %> </div>
        
        <div class="w-full justify-center">
            X <%= entrada.cantidad %>
        </div>

        <div class="text-right"> S/<%= entrada.precio %></div>
    </div>
</div>
